
h1 {
    font-family: 'Carrois Gothic SC', sans-serif;
    display: block;
    text-align: center;
    line-height:.8;
    color: black;
}
.contenido {
    max-width: 1200px;
    margin: 5rem auto 0 auto;
    color: black;
    font-size: 3rem;
    font-family: 'Carrois Gothic SC', sans-serif;
}
h1 {
    font-size: 2rem;
}

